# Backend
backend/venv/
backend/.env

# Python
__pycache__/
.pytest_cache/
.mypy_cache/

# Frontend
node_modules/
frontend/dist/

# Environment
.env
.env.*
!.env.example
!**/.env.example

# IDE
.idea/
.vscode/

# Logs & cache
.eslintcache
