SECRET_KEY=your-secret-key-here
DEBUG=True

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
POSTGRES_DB_SCHEMA=schema

CORS_ALLOWED_ORIGINS=http://localhost:3000 http://localhost:5173
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
CORS_ALLOW_CREDENTIALS=True

KEYCLOAK_PUBLIC_KEY_URL=your-keycloak-public-key
CERT_PATH=your-cert-path

HR_API_URL=your-hr-api-url

LOG_HEADERS=True
