.button-wrapper .ant-btn {
  font-family: 'HeliosCondC';
}

.button-wrapper .ant-btn-color-dangerous {
  color: #ff4d07;
}

.button-wrapper .ant-btn-color-dangerous .ant-btn-variant-outlined {
  border-color: #ff4d07;
}

.button-wrapper :focus,
.button-wrapper :focus-visible {
  outline: none;
}
